# Feature Selection Strategy

In [15]:
import numpy as np
import pandas as pd
import seaborn as sns

In [16]:
df = pd.read_csv(r"F:\project\get_dummies_180219.csv")

In [17]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'product_id', 'product_name', 'user_id', 'department_id', 'department',
       'order_id', 'order_number', 'order_dow', 'days_since_prior_order',
       'reordered', 'product_popularity_cnt', 'department_popularity_cnt',
       'IsOrganic', 'order_HourGroup', 'Percentage_amount_product',
       'NA_distribusion', 'days_previous_Group', '4605', '4920', '5876',
       '8277', '13176', '16797', '19057', '21137', '21616', '21903', '22935',
       '24852', '24964', '26209', '27845', '27966', '28204', '30391', '37646',
       '39275', '40706', '42265', '44632', '45007', '45066', '47209', '47626',
       '47766', '49235', '49683'],
      dtype='object')

In [18]:
vn = [ 'reordered', 'product_popularity_cnt', 'department_popularity_cnt',
       'IsOrganic', 'order_HourGroup','days_previous_Group','Percentage_amount_product']

yv = ['4605', '4920', '5876',
       '8277', '13176', '16797', '19057', '21137', '21616', '21903', '22935',
       '24852', '24964', '26209', '27845', '27966', '28204', '30391', '37646',
       '39275', '40706', '42265', '44632', '45007', '45066', '47209', '47626',
       '47766', '49235', '49683']

In [19]:
vx = df[vn]
vy = df[yv]

In [20]:
vx.head()

,reordered,product_popularity_cnt,department_popularity_cnt,IsOrganic,order_HourGroup,days_previous_Group,Percentage_amount_product
0,0,0.021388,0.929434,True,06-12,4,0.3125
1,1,0.092567,0.929434,True,06-12,4,0.3125
2,1,0.033424,0.929434,True,06-12,4,0.3125
3,0,0.024617,0.929434,True,06-12,4,0.3125
4,1,0.027591,0.929434,True,06-12,4,0.3125

In [21]:
vx.shape

(4025124, 7)

In [22]:
vy.shape

(4025124, 30)

In [23]:
df.shape

(4025124, 51)

#  Feature Selection - since we have just 7 columns, and all the rest columns are the diffrent products (30) , we don't need to choose specific columns, and do Feature Selection. we will insert all the columns to the calculations.

# Preparing the partition to test, train and dev

In [24]:
import matplotlib.pyplot as plt
#%matplotlib inline

In [25]:
from random import seed, shuffle

seed(200)
xind = [i for i in range(len(df))]
print(xind[0:15])
shuffle(xind,)
print(xind[0:15])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[3674489, 2036138, 2570447, 1909938, 614957, 1208825, 2129012, 283998, 810307, 3673071, 1461342, 1792265, 1382139, 70839, 3166305]

In [26]:
### We will split as follows: 10% test, 10% dev and 80% train
### test split
split_1 = int(0.1 * len(xind))
### train-dev split
split_2 = int(0.2 * len(xind))


## Proceeding with the partition

In [27]:
### We will split as follows: 10% test, 10% dev and 80% train
X_test = vx.iloc[xind[0:split_1],]
y_test = vy.iloc[xind[0:split_1],]

X_dev = vx.iloc[xind[split_1:split_2],]
y_dev = vy.iloc[xind[split_1:split_2],]

X_train = vx.iloc[xind[split_2:],]
y_train = vy.iloc[xind[split_2:],]

In [28]:
print(X_train.shape)
print(y_train.shape)

print(X_dev.shape)
print(y_dev.shape)

print(X_test.shape)
print(y_test.shape)

(3220100, 7)
(3220100, 30)
(402512, 7)
(402512, 30)
(402512, 7)
(402512, 30)

In [29]:
X_test.to_csv("X_test.csv")

In [30]:
y_test.to_csv("y_test.csv")

In [31]:
X_dev.to_csv("X_dev.csv")

In [32]:
y_dev.to_csv("y_dev.csv")

In [33]:
X_train.to_csv("X_train.csv")

In [34]:
y_train.to_csv("y_train.csv")

In [17]:
X_train.head()

,reordered,product_popularity_cnt,department_popularity_cnt,IsOrganic,order_HourGroup,days_previous_Group,Percentage_amount_product
702984,1,0.092567,0.929434,True,12-18,1,0.1250
286521,0,0.019529,0.929434,False,12-18,4,0.3750
3615374,1,0.043180,0.929434,True,12-18,2,0.1875
1882196,0,0.017755,0.929434,True,12-18,4,0.4375
1386880,1,0.018518,0.051992,True,12-18,4,0.2500

In [18]:
X_train.columns

Index(['reordered', 'product_popularity_cnt', 'department_popularity_cnt',
       'IsOrganic', 'order_HourGroup', 'days_previous_Group',
       'Percentage_amount_product'],
      dtype='object')

In [19]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,product_id,product_name,user_id,department_id,department,order_id,...,40706,42265,44632,45007,45066,47209,47626,47766,49235,49683
0,0,0,0,0,5876,Organic Lemon,28568,4,produce,55441,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,91251,13176,Bag of Organic Bananas,28568,4,produce,55441,...,0,0,0,0,0,0,0,0,0,0
2,2,2,2,486181,27966,Organic Raspberries,28568,4,produce,55441,...,0,0,0,0,0,0,0,0,0,0
3,3,3,3,628784,39275,Organic Blueberries,28568,4,produce,55441,...,0,0,0,0,0,0,0,0,0,0
4,4,4,4,733810,22935,Organic Yellow Onion,28568,4,produce,55441,...,0,0,0,0,0,0,0,0,0,0

Adding new column for checking the data by tabelone

In [20]:
#train

In [21]:
other=y_train

In [22]:
df_train=X_train.join(other, on=None, how='left', lsuffix='', rsuffix='', sort=False)

In [23]:
df_train.head()

,reordered,product_popularity_cnt,department_popularity_cnt,IsOrganic,order_HourGroup,days_previous_Group,Percentage_amount_product,4605,4920,5876,...,40706,42265,44632,45007,45066,47209,47626,47766,49235,49683
702984,1,0.092567,0.929434,True,12-18,1,0.1250,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286521,0,0.019529,0.929434,False,12-18,4,0.3750,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3615374,1,0.043180,0.929434,True,12-18,2,0.1875,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1882196,0,0.017755,0.929434,True,12-18,4,0.4375,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1386880,1,0.018518,0.051992,True,12-18,4,0.2500,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [24]:
df_train.shape

(3220100, 37)

In [25]:
df_train['division_data']='train'

In [26]:
df_train.head()

,reordered,product_popularity_cnt,department_popularity_cnt,IsOrganic,order_HourGroup,days_previous_Group,Percentage_amount_product,4605,4920,5876,...,42265,44632,45007,45066,47209,47626,47766,49235,49683,division_data
702984,1,0.092567,0.929434,True,12-18,1,0.1250,0,0,0,...,0,0,0,0,0,0,0,0,0,train
286521,0,0.019529,0.929434,False,12-18,4,0.3750,0,0,0,...,0,0,0,1,0,0,0,0,0,train
3615374,1,0.043180,0.929434,True,12-18,2,0.1875,0,0,0,...,0,0,0,0,0,0,1,0,0,train
1882196,0,0.017755,0.929434,True,12-18,4,0.4375,0,0,0,...,0,0,0,0,0,0,0,0,0,train
1386880,1,0.018518,0.051992,True,12-18,4,0.2500,0,0,0,...,0,0,0,0,0,0,0,1,0,train

In [27]:
df_train.dtypes

reordered                      int64
product_popularity_cnt       float64
department_popularity_cnt    float64
IsOrganic                       bool
order_HourGroup               object
days_previous_Group            int64
Percentage_amount_product    float64
4605                           int64
4920                           int64
5876                           int64
8277                           int64
13176                          int64
16797                          int64
19057                          int64
21137                          int64
21616                          int64
21903                          int64
22935                          int64
24852                          int64
24964                          int64
26209                          int64
27845                          int64
27966                          int64
28204                          int64
30391                          int64
37646                          int64
39275                          int64
40706                          int64
42265                          int64
44632                          int64
45007                          int64
45066                          int64
47209                          int64
47626                          int64
47766                          int64
49235                          int64
49683                          int64
division_data                 object
dtype: object

In [28]:
#test

In [29]:
other=y_test

In [30]:
df_test=X_test.join(other, on=None, how='left', lsuffix='', rsuffix='', sort=False)

In [31]:
df_test.head()

,reordered,product_popularity_cnt,department_popularity_cnt,IsOrganic,order_HourGroup,days_previous_Group,Percentage_amount_product,4605,4920,5876,...,40706,42265,44632,45007,45066,47209,47626,47766,49235,49683
3674489,0,0.058997,0.929434,True,06-12,3,0.0625,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2036138,1,0.017755,0.929434,True,06-12,2,0.1875,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2570447,0,0.035028,0.929434,False,12-18,4,0.1875,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1909938,1,0.037687,0.929434,False,12-18,1,0.2500,0,0,0,...,0,0,0,0,0,0,1,0,0,0
614957,0,0.020333,0.929434,False,12-18,1,0.2500,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
df_test.shape

(402512, 37)

In [33]:
df_test['division_data']='test'

In [34]:
df_test.head()

,reordered,product_popularity_cnt,department_popularity_cnt,IsOrganic,order_HourGroup,days_previous_Group,Percentage_amount_product,4605,4920,5876,...,42265,44632,45007,45066,47209,47626,47766,49235,49683,division_data
3674489,0,0.058997,0.929434,True,06-12,3,0.0625,0,0,0,...,0,0,0,0,0,0,0,0,0,test
2036138,1,0.017755,0.929434,True,06-12,2,0.1875,0,0,0,...,0,0,0,0,0,0,0,0,0,test
2570447,0,0.035028,0.929434,False,12-18,4,0.1875,0,0,0,...,0,0,0,0,0,0,0,0,0,test
1909938,1,0.037687,0.929434,False,12-18,1,0.2500,0,0,0,...,0,0,0,0,0,1,0,0,0,test
614957,0,0.020333,0.929434,False,12-18,1,0.2500,0,1,0,...,0,0,0,0,0,0,0,0,0,test

In [35]:
#dev

In [36]:
other=y_dev

In [37]:
df_dev=X_dev.join(other, on=None, how='left', lsuffix='', rsuffix='', sort=False)

In [38]:
df_dev.head()

,reordered,product_popularity_cnt,department_popularity_cnt,IsOrganic,order_HourGroup,days_previous_Group,Percentage_amount_product,4605,4920,5876,...,40706,42265,44632,45007,45066,47209,47626,47766,49235,49683
1612274,1,0.024617,0.929434,True,18-24,1,0.0625,0,0,0,...,0,0,0,0,0,0,0,0,0,0
404649,1,0.020455,0.929434,True,06-12,1,0.1875,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2553704,1,0.115153,0.929434,False,00-06,2,0.2500,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2288426,1,0.115153,0.929434,False,12-18,4,0.0625,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3099956,1,0.064592,0.929434,True,18-24,4,0.0625,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
df_dev.shape

(402512, 37)

In [40]:
df_dev['division_data']='dev'

In [41]:
df_dev.head()

,reordered,product_popularity_cnt,department_popularity_cnt,IsOrganic,order_HourGroup,days_previous_Group,Percentage_amount_product,4605,4920,5876,...,42265,44632,45007,45066,47209,47626,47766,49235,49683,division_data
1612274,1,0.024617,0.929434,True,18-24,1,0.0625,0,0,0,...,0,0,0,0,0,0,0,0,0,dev
404649,1,0.020455,0.929434,True,06-12,1,0.1875,0,0,0,...,0,0,0,0,0,0,0,0,0,dev
2553704,1,0.115153,0.929434,False,00-06,2,0.2500,0,0,0,...,0,0,0,0,0,0,0,0,0,dev
2288426,1,0.115153,0.929434,False,12-18,4,0.0625,0,0,0,...,0,0,0,0,0,0,0,0,0,dev
3099956,1,0.064592,0.929434,True,18-24,4,0.0625,0,0,0,...,0,0,0,0,0,0,0,0,0,dev

concat 3 tables for one table

In [42]:
frames = [df_test,df_dev,df_train]

In [43]:
concat_table_for_tab1 = pd.concat(frames)

In [44]:
concat_table_for_tab1.head()

,reordered,product_popularity_cnt,department_popularity_cnt,IsOrganic,order_HourGroup,days_previous_Group,Percentage_amount_product,4605,4920,5876,...,42265,44632,45007,45066,47209,47626,47766,49235,49683,division_data
3674489,0,0.058997,0.929434,True,06-12,3,0.0625,0,0,0,...,0,0,0,0,0,0,0,0,0,test
2036138,1,0.017755,0.929434,True,06-12,2,0.1875,0,0,0,...,0,0,0,0,0,0,0,0,0,test
2570447,0,0.035028,0.929434,False,12-18,4,0.1875,0,0,0,...,0,0,0,0,0,0,0,0,0,test
1909938,1,0.037687,0.929434,False,12-18,1,0.2500,0,0,0,...,0,0,0,0,0,1,0,0,0,test
614957,0,0.020333,0.929434,False,12-18,1,0.2500,0,1,0,...,0,0,0,0,0,0,0,0,0,test

In [45]:
concat_table_for_tab1.shape

(4025124, 38)

In [46]:
type(concat_table_for_tab1)

pandas.core.frame.DataFrame

# Checking the partition with Table1

to check if there are connections between the columns :

We need to see that there are no variables with a p-value lower than 0.05, because we want to know that, 
there are no connections between the columns, and the division had been done without reason.

In [47]:
from importlib import reload
import pyMechkar as mechkar
reload(mechkar)

In [48]:
tab1 = mechkar.pyMechkar().Table1(data=concat_table_for_tab1, y='division_data')

Factorizing... please wait
*************************************
[]
[**************************************
[**************************************
[**************************************
[]
------ Finished in 564.5218389034271econds -----

In [49]:
tab1

,Variables,Categories,Population,Category_test,Category_dev,Category_train,p_value
0,Individuals,n,4025124,402512,402512,3220100,NaN
1,reordered,1,"821,525.00 ( 20.40%)","81,799.00 ( 20.30%)","82,036.00 ( 20.40%)","657,690.00 ( 20.40%)",NaN
2,reordered,0,"3,203,599.00 ( 79.60%)","320,713.00 ( 79.70%)","320,476.00 ( 79.60%)","2,562,410.00 ( 79.60%)",0.281
3,product_popularity_cnt,Mean (SD),0.00 ( 0.00),0.00 ( 0.00),0.00 ( 0.00),0.00 ( 0.00),0.413
4,product_popularity_cnt,Median (IQR),0.00 ( 0.00- 0.10),0.00 ( 0.00- 0.10),0.00 ( 0.00- 0.10),0.00 ( 0.00- 0.10),NaN
6,department_popularity_cnt,0.929434,"74,812.00 ( 1.90%)","7,591.00 ( 1.90%)","7,395.00 ( 1.80%)","59,826.00 ( 1.90%)",NaN
7,department_popularity_cnt,0.0519917,"210,496.00 ( 5.20%)","20,994.00 ( 5.20%)","21,220.00 ( 5.30%)","168,282.00 ( 5.20%)",0.373
8,department_popularity_cnt,0.0185741,"3,739,816.00 ( 92.90%)","373,927.00 ( 92.90%)","373,897.00 ( 92.90%)","2,991,992.00 ( 92.90%)",NaN
9,IsOrganic,True,"1,292,140.00 ( 32.10%)","129,789.00 ( 32.20%)","129,389.00 ( 32.10%)","1,032,962.00 ( 32.10%)",NaN
10,IsOrganic,False,"2,732,984.00 ( 67.90%)","272,723.00 ( 67.80%)","273,123.00 ( 67.90%)","2,187,138.00 ( 67.90%)",0.085
11,order_HourGroup,12-18,"69,806.00 ( 1.70%)","6,967.00 ( 1.70%)","6,985.00 ( 1.70%)","55,854.00 ( 1.70%)",NaN
12,order_HourGroup,06-12,"1,368,673.00 ( 34.00%)","136,657.00 ( 34.00%)","137,393.00 ( 34.10%)","1,094,623.00 ( 34.00%)",0.368
13,order_HourGroup,18-24,"1,880,181.00 ( 46.70%)","188,154.00 ( 46.70%)","187,987.00 ( 46.70%)","1,504,040.00 ( 46.70%)",NaN
14,order_HourGroup,00-06,"706,464.00 ( 17.60%)","70,734.00 ( 17.60%)","70,147.00 ( 17.40%)","565,583.00 ( 17.60%)",NaN
15,days_previous_Group,1,"2,031,423.00 ( 50.50%)","202,995.00 ( 50.40%)","203,043.00 ( 50.40%)","1,625,385.00 ( 50.50%)",NaN
16,days_previous_Group,2,"2,031,423.00 ( 50.50%)","202,995.00 ( 50.40%)","203,043.00 ( 50.40%)","1,625,385.00 ( 50.50%)",0.857
17,days_previous_Group,4,"859,418.00 ( 21.40%)","86,158.00 ( 21.40%)","86,005.00 ( 21.40%)","687,255.00 ( 21.30%)",NaN
18,days_previous_Group,3,"461,621.00 ( 11.50%)","45,999.00 ( 11.40%)","46,043.00 ( 11.40%)","369,579.00 ( 11.50%)",NaN
19,Percentage_amount_product,Mean (SD),0.20 ( 0.10),0.20 ( 0.10),0.20 ( 0.10),0.20 ( 0.10),0.707
20,Percentage_amount_product,Median (IQR),0.20 ( 0.10- 0.20),0.20 ( 0.10- 0.20),0.20 ( 0.10- 0.20),0.20 ( 0.10- 0.20),NaN
22,4605,0,"3,954,352.00 ( 98.20%)","395,411.00 ( 98.20%)","395,452.00 ( 98.20%)","3,163,489.00 ( 98.20%)",NaN
23,4605,1,"70,772.00 ( 1.80%)","7,101.00 ( 1.80%)","7,060.00 ( 1.80%)","56,611.00 ( 1.80%)",0.939
24,4920,0,"3,943,134.00 ( 98.00%)","394,193.00 ( 97.90%)","394,237.00 ( 97.90%)","3,154,704.00 ( 98.00%)",NaN
25,4920,1,"81,990.00 ( 2.00%)","8,319.00 ( 2.10%)","8,275.00 ( 2.10%)","65,396.00 ( 2.00%)",0.211
26,5876,0,"3,939,206.00 ( 97.90%)","393,852.00 ( 97.80%)","393,958.00 ( 97.90%)","3,151,396.00 ( 97.90%)",NaN
27,5876,1,"85,918.00 ( 2.10%)","8,660.00 ( 2.20%)","8,554.00 ( 2.10%)","68,704.00 ( 2.10%)",0.692
28,8277,0,"3,942,158.00 ( 97.90%)","394,202.00 ( 97.90%)","394,241.00 ( 97.90%)","3,153,715.00 ( 97.90%)",NaN
29,8277,1,"82,966.00 ( 2.10%)","8,310.00 ( 2.10%)","8,271.00 ( 2.10%)","66,385.00 ( 2.10%)",0.949
30,13176,0,"3,649,352.00 ( 90.70%)","364,717.00 ( 90.60%)","365,137.00 ( 90.70%)","2,919,498.00 ( 90.70%)",NaN
31,13176,1,"375,772.00 ( 9.30%)","37,795.00 ( 9.40%)","37,375.00 ( 9.30%)","300,602.00 ( 9.30%)",0.273
...,...,...,...,...,...,...,...
52,27966,0,"3,888,900.00 ( 96.60%)","388,829.00 ( 96.60%)","388,896.00 ( 96.60%)","3,111,175.00 ( 96.60%)",NaN
53,27966,1,"136,224.00 ( 3.40%)","13,683.00 ( 3.40%)","13,616.00 ( 3.40%)","108,925.00 ( 3.40%)",0.856
54,28204,0,"3,937,665.00 ( 97.80%)","393,738.00 ( 97.80%)","393,756.00 ( 97.80%)","3,150,171.00 ( 97.80%)",NaN
55,28204,1,"87,459.00 ( 2.20%)","8,774.00 ( 2.20%)","8,756.00 ( 2.20%)","69,929.00 ( 2.20%)",0.939
56,30391,0,"3,944,440.00 ( 98.00%)","394,549.00 ( 98.00%)","394,464.00 ( 98.00%)","3,155,427.00 ( 98.00%)",NaN
57,30391,1,"80,684.00 ( 2.00%)","7,963.00 ( 2.00%)","8,048.00 ( 2.00%)","64,673.00 ( 2.00%)",0.426
58,37646,0,"3,952,960.00 ( 98.20%)","395,174.00 ( 98.20%)","395,302.00 ( 98.20%)","3,162,484.00 ( 98.20%)",NaN
59,37646,1,"72,164.00 ( 1.80%)","7,338.00 ( 1.80%)","7,210.00 ( 1.80%)","57,616.00 ( 1.80%)",0.312
60,39275,0,"3,927,200.00 ( 97.60%)","392,798.00 ( 97.60%)","392,649.00 ( 97.50%)","3,141,753.00 ( 97.60%)",NaN
61,39275,1,"97,924.00 ( 2.40%)","9,714.00 ( 2.40%)","9,863.00 ( 2.50%)","78,347.00 ( 2.40%)",0.558
62,40706,0,"3,942,495.00 ( 97.90%)","394,242.00 ( 97.90%)","394,264.00 ( 98.00%)","3,153,989.00 ( 97.90%)",NaN
63,40706,1,"82,629.00 ( 2.10%)","8,270.00 ( 2.10%)","8,248.00 ( 2.00%)","66,111.00 ( 2.10%)",0.983
64,42265,0,"3,948,612.00 ( 98.10%)","394,962.00 ( 98.10%)","394,802.00 ( 98.10%)","3,158,848.00 ( 98.10%)",NaN
65,42265,1,"76,512.00 ( 1.90%)","7,550.00 ( 1.90%)","7,710.00 ( 1.90%)","61,252.00 ( 1.90%)",0.396
66,44632,0,"3,950,312.00 ( 98.10%)","394,921.00 ( 98.10%)","395,117.00 ( 98.20%)","3,160,274.00 ( 98.10%)",NaN
67,44632,1,"74,812.00 ( 1.90%)","7,591.00 ( 1.90%)","7,395.00 ( 1.80%)","59,826.00 ( 1.90%)",0.264
68,45007,0,"3,920,463.00 ( 97.40%)","392,039.00 ( 97.40%)","392,010.00 ( 97.40%)","3,136,414.00 ( 97.40%)",NaN
69,45007,1,"104,661.00 ( 2.60%)","10,473.00 ( 2.60%)","10,502.00 ( 2.60%)","83,686.00 ( 2.60%)",0.926
70,45066,0,"3,946,644.00 ( 98.10%)","394,714.00 ( 98.10%)","394,606.00 ( 98.00%)","3,157,324.00 ( 98.10%)",NaN
71,45066,1,"78,480.00 ( 1.90%)","7,798.00 ( 1.90%)","7,906.00 ( 2.00%)","62,776.00 ( 1.90%)",0.683
72,47209,0,"3,815,353.00 ( 94.80%)","381,653.00 ( 94.80%)","381,646.00 ( 94.80%)","3,052,054.00 ( 94.80%)",NaN
73,47209,1,"209,771.00 ( 5.20%)","20,859.00 ( 5.20%)","20,866.00 ( 5.20%)","168,046.00 ( 5.20%)",0.438
74,47626,0,"3,872,693.00 ( 96.20%)","387,121.00 ( 96.20%)","387,163.00 ( 96.20%)","3,098,409.00 ( 96.20%)",NaN
75,47626,1,"152,431.00 ( 3.80%)","15,391.00 ( 3.80%)","15,349.00 ( 3.80%)","121,691.00 ( 3.80%)",0.246
76,47766,0,"3,856,087.00 ( 95.80%)","385,688.00 ( 95.80%)","385,739.00 ( 95.80%)","3,084,660.00 ( 95.80%)",NaN
77,47766,1,"169,037.00 ( 4.20%)","16,824.00 ( 4.20%)","16,773.00 ( 4.20%)","135,440.00 ( 4.20%)",0.409
78,49235,0,"3,950,218.00 ( 98.10%)","394,890.00 ( 98.10%)","394,896.00 ( 98.10%)","3,160,432.00 ( 98.10%)",NaN
79,49235,1,"74,906.00 ( 1.90%)","7,622.00 ( 1.90%)","7,616.00 ( 1.90%)","59,668.00 ( 1.90%)",0.061
80,49683,0,"3,932,073.00 ( 97.70%)","393,200.00 ( 97.70%)","393,089.00 ( 97.70%)","3,145,784.00 ( 97.70%)",NaN
81,49683,1,"93,051.00 ( 2.30%)","9,312.00 ( 2.30%)","9,423.00 ( 2.30%)","74,316.00 ( 2.30%)",0.417

In [50]:
tab1.loc[(tab1['p_value']<0.05),]

Empty DataFrame
Columns: [Variables, Categories, Population, Category_test, Category_dev, Category_train, p_value]
Index: []

We can see that there are no variables with a p-value lower than 0.05. Due to the division it's right.